
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    margin: 0 auto;
}

.mat-form-field{
  padding:10px;
}
.nextButton{
    float: right;
    width: 100%;
}
.loginButton{
    float: right;;
}
.forgotButton{
    float:left;
}
.mat-raised-button{
    background-color: #009999;
    color:white;
  }
 mat-card{
  display: flex;
  flex-direction: column;
   
   text-align: center;
 }
 mat-card-actions{
   flex:1;
   padding:15px;
 }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
header{
 
  background-color: #009999;
  height:10%;
}
header div{
  padding:15px;
  color:white;
}
.wrapper{
  display:flex;
  flex-direction: column;
}
  .container{
    display: flex;
   float: right;
    padding-right: 20%;
    width:200px;
    height: 300px;
  }
  input.example-right-align {
    -moz-appearance: textfield;
  }
