<div class="mat-elevation-z8">
  <div class="filter">
    <app-employee-filter (Employees$)="receiveEmployees($event)" ></app-employee-filter>

  </div>

    <table mat-table class="full-width-table"  [dataSource]="dataSource" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td  mat-cell *matCellDef="let row">{{row.Email}}
          <br>
       
        
      </ng-container>
     
      <ng-container matColumnDef="departament">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Departament</th>
        <td  mat-cell *matCellDef="let row">{{row.Departament}}
          <br>
       
        
      </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>

          <td mat-cell *matCellDef="let row">
            <button mat-stroked-button (click)="openEditDialog(row)" color="primary">Edit <mat-icon>edit</mat-icon> </button>   

          </td>

        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>

          <td mat-cell *matCellDef="let row">
            <button mat-stroked-button color="warn" (click)="openDeleteDialog(row)" > Delete <mat-icon>delete</mat-icon> </button>   

          </td>

        </ng-container>
        <ng-container matColumnDef="trainings">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>

          <td mat-cell *matCellDef="let row">
            <button mat-stroked-button color="primary" (click)="navigateTrainings(row)"  > Trainings  <mat-icon>bar_chart</mat-icon> </button>   

          </td>

        </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let row">{{row.Username}}</td>
      </ng-container>
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let row">{{row.Firstname}}</td>
      </ng-container>
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let row">{{row.Lastname}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns">text</tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">text1</tr>
      
    </table>
  
    <mat-paginator #paginator
        
        [pageIndex]="0"
        [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
  </div>