<div class="container">
    <form  class="form" [formGroup]="NewPasswordForm" action="">
        
        <mat-card>
            <mat-card-title>New Password</mat-card-title>
            <p>
        <mat-form-field appearance="standard">
          <mat-label>Code</mat-label>
          <input formControlName="Code" matInput >
         
          <mat-hint>Enter Code</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input type="password" formControlName="Password" matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="standard">
          <mat-label> Confirm Password</mat-label>
          <input type="password"  matInput>
        </mat-form-field>
    </p>
        <div class="button-group">
            <button mat-button ></button>
           
        </div>
        <button mat-button  (click)="onSubmit()">Change password</button>
    </mat-card>
        </form>
    </div>
    
