<div class="footer">text</div>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>  Training Matrix

    </mat-toolbar>
    
    <mat-nav-list class="list" style="overflow:hidden" *ngIf="Admin">

      <mat-card class="mat-elevation-z0 outline">
        <div class="profile-picture">
          <img  src="{{profileUrl | async}}" >

        </div>
        <mat-card-content *ngIf="Employee$ | async as Employee">
         <p > {{Employee.Firstname }}  {{Employee.Lastname }}</p>
          <p  *ngIf="Admin" style=" color: green; text-align: center;" > Admin</p>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/dashboard">
        <mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon> <span class="iconText"> Dashboard</span> </a>
      <a mat-list-item routerLink="/trainings"> <mat-icon>article </mat-icon>  <span class="iconText">Trainings</span></a>
      <a mat-list-item routerLink="/employees" > <mat-icon>group </mat-icon>  <span class="iconText">Employees</span></a>
      <a mat-list-item routerLink="/spendings"><mat-icon>euro</mat-icon><span class="iconText">Spendings</span></a>
      <a mat-list-item routerLink="/raports"><mat-icon>show_chart</mat-icon><span class="iconText">Reports</span></a>
      <a mat-list-item routerLink="/events"><mat-icon>info</mat-icon><span class="iconText">Activity</span></a>
      <a mat-list-item routerLink="/inbox">  <mat-icon [matBadgeHidden]="isHidden()" matBadge="{{ inboxUnread }}" matBadgeColor="warn" matBadgeSize="small">mail</mat-icon><span  class="iconText"><span class="iconText">Notifications</span></span></a>

      <a mat-list-item routerLink="/{{id}}/profile" > <mat-icon>account_box</mat-icon> <span class="iconText">Profile</span> </a>
      
      <a mat-list-item (click)="signOut()" routerLink="/login"> <mat-icon>logout</mat-icon> <span class="iconText">Logout</span></a>
    </mat-nav-list>

    <mat-nav-list class="list" *ngIf="!Admin">
      <mat-card class="mat-elevation-z0 outline">
        <div class="profile-picture">
          <img  src="{{profileUrl | async}}" >

        </div>
        <mat-card-content *ngIf="Employee$ | async as Employee">
         <p > {{Employee.Firstname }}  {{Employee.Lastname }}</p>
          <p  *ngIf="Admin" style=" color: green; text-align: center;" > Admin</p>
        </mat-card-content>
      </mat-card>
      <a mat-list-item routerLink="/{{id}}/profile"><mat-icon>account_box</mat-icon> <span class="iconText">Profile</span></a>
      <a mat-list-item routerLink="/employee/{{id}}/trainings"><mat-icon>article</mat-icon> <span  class="iconText">Trainings</span> </a>
      <a mat-list-item routerLink="/inbox">  <mat-icon [matBadgeHidden]="inboxUnread == 0" matBadge="{{ inboxUnread }}" matBadgeColor="warn" matBadgeSize="small">mail</mat-icon><span  class="iconText">Notifications</span></a>

      <a mat-list-item routerLink="/login"><mat-icon>logout</mat-icon>Logout</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    

  </mat-sidenav-content>
</mat-sidenav-container>
